img{width:300px}

.CoverColor{
  width: 1000px;
  margin: auto;
  img{
    width: 150px;
  }
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.card-color-palette{
  display: flex;
  flex-direction: column;
}

.card-color-palette-complete{
  display: flex;
}

.card-color-color{
  width: 35px;
  height: 35px;
  margin: 0 7px;
  border-radius: 50%;
}

.card{
  width: 200px;
  height: 300px;
  margin: 3px auto;
  align-items: center;

  div+div{
    margin: 10px;
  }

  img{
    margin: auto;
  }

  &-song-name{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
  }

  &-artist-name{
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  &-artist{
    span+span{
      margin: 0 4px;
    }
  }
}