$main-font: Helvetica, sans-serif;

.pantoneContainer{
  // width: 100vw;
  // height: 100vh;
  // margin: 0;
  // padding: 0;
  // position: absolute;
  // z-index: 300;
  // top: 0;
  // left: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  * {
    &, &:before, &:after {
      box-sizing: border-box;
    }
  }

  div.wrapper {
    margin: 20px auto;
    max-width: 350px;
  }
  div.swatch {
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.1);
  }
  div.color {
    width: 270px;
    height: 300px;
  }
  div.description {
    background: white;
    padding: 15px 10px 35px 10px;
    position: relative;
  }
  h1, .range-slider__value {
    font-size: 21px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 40px 0;
  }
  h1,
  h2,
  h3 {
    line-height: 1.2em;
  }
  h1,
  h2 {
    font-weight: bold;
  }
  h2 {
    font-size: 38px;
  }
  h3 {
    font-size: 21px;
  }
  sup {
    font-size: 16px;
    position: absolute;
    top: 7px;
  }
}